<% 
	calendarDate = Date.new(Date.today.year,Date.today.month, 1)
	currentMonth = calendarDate.month
	offset = calendarDate.cwday
	dates = [];
	
	data.events.each do |event|
		dates << event.date
	end
%>
<h3><%= dates.include?(Date.new(Date.today.year, Date.today.month, 20)) %></h3>
<table>
	<thead>
		<tr>
			<th colspan="2"><span class="legendEmployer"></span><p>Employer Event</p></th>
			<th colspan="3"><%= calendarDate.strftime("%B") %></th><%# Full Month Name %>
			<th colspan="2"><span class="legendCIS3"></span><p>CIS3 Event</p></th>
		</tr>
		<tr>
			<% for day in ["Mon","Tue", "Wed", "Thur", "Fri", "Sat", "Sun"] %>
			<th class="dayOfWeek"><%= day %></th>
			<% end %>
		</tr>
	</thead>
	<tbody>
		<tr>
			<% for i in 1..(offset-1) #make spacers for unused days%>
				<td></td>
			<% end %>
			<% for i in offset..7 #enter the remainder of week 1%>
				<%= calendarTableCell(calendarDate, dates) %>
				<% calendarDate = calendarDate + 1 %>
			<% end %>
		</tr>
		<% until calendarDate.month != currentMonth #only enter current month %>
			<tr>
				<% for i in 1..7 #loop through each day of the week %>
					<% if calendarDate.month == currentMonth %>
						<%= calendarTableCell(calendarDate, dates) %>
					<% else %> <%# if we're out of the current month, put in spacers %>
						<td></td>
					<% end %>
					<% calendarDate = calendarDate + 1 %>
				<% end %>
			</tr>
		<% end %>
	</tbody>
</table>