<div class="flip-container <%= nav.css %>" ontouchstart="this.classList.toggle('hover');">
	<div class="flipper">
		<a class="front" href="<%= nav.link %>">
			<span>
				<%= nav.title %>
			</span>
		</a>
		<a class="back" href="<%= nav.link %>">
			<span>
				<i class="<%= nav.icon %> icon-4x"></i>
			</span>
		</a>
	</div>
</div>