---
layout: main
---
<article class="well information">
	<div class="breadcrumb pull-right">
		<a href="/jobs.html">Jobs</a>
		<%= image_tag 'breadcrumb.png', :class=> 'pull-left' %><p><%= site.title %></p>
	</div>
	<h3><%= site.title %></h3>
	<div class="eventInfo">
		<h4>Job Period: <em><%= site.job.time %></em></h4>
		<h4>Job Title:&nbsp;&nbsp;&nbsp; <em><%= site.job.title %></em></h4>
		<%# that's right, I used a &nbsp;! DEAL WITH IT %>
	</div>
	<div class="clearfix"></div>
	<% for i in 1..15 %>
	<p><%=lorem.paragraph%></p>
	<% end %>
</article>