---
layout: main
title: Info
---
<h3><%= data.page.title %></h3>
<div id="infoPic">
	<img class="thumbnail" src="<%= lorem.image('475x500', :background_color => 'def', :text => 'Meaningful Image') %>" alt="<%= lorem.words 5 %>" />
</div>
<div id="infoNav">
	<%# 
		This is absolutely horrid now that I've decoupled the blog pages into YAML files.
		These nav items are really just important info post... Will turn into array later.
	 %>
	<% data.site.info_pages.each do |page|  %>
	  <%= partial("partials/nav_item", :locals => { :nav => page })  %>
	<% end %>
</div>
<div class="clearfix"></div>
<h3>Recent Info Posts</h3>
<div id="blog">
<% data.info.each do |post| %>
	<%= partial "partials/post", :locals => {:post => post} %>
<% end %>
<% for i in 1..2 %>
	<%= partial "partials/post" %>
<% end %>
</div>